*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    background: linear-gradient(to bottom, #B7AEE5, #D9B1CD)
}


.main img {
    border-radius: 25px;
}

 .igcontainer a img {
    width: 350px;
    height: 350px;
    margin: 2px;
    padding: 2px;
} 

@media screen and (max-width: 600px) {
    #logo_main {
        width: 100%;        
    }
}


#btnsuscribe {
    background: linear-gradient(to right, #FFDDF5, #B7AEE5)
}

.footer{
    background: #F8F1F6;
}

.footer img {
    width: 100%;
}

.footer-icon {
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 2px;
}

.footer .card {
    background: #F8F1F6;
    border: 0px;    
}

:link {
    color: #FFF;
    text-decoration: none;
}

.h:hover{
    transform: scale(1.1) !important;
    transition: transform 300ms ease-in-out !important;
    cursor: pointer;
}