@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&family=Poppins:wght@400;500;700;900&display=swap');

:root{
    --blue: #6AAEF4;

}

body {
    background-color: rgba(128, 128, 128, 0.149);
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
}


#navbarNav{
    padding-left:26rem;
    width: 60%;
    margin: 0 auto;
    margin-top: .5rem;
    text-transform: uppercase;
}
.link{
    padding:0 .5rem;
}
.link:hover{
    transform:scale(1.06)
}

.formulario{
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    padding:3rem;
}

.bg-design{
    background:#6aaef2c7;
    font-weight: bold;
}

.bg-design:hover{
    background:#6AAEF4;
    color:white;
}